<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Java Pro - tests</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Nawigacja</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="d-flex justify-content-between">
                        <div th:text="${user.name + ' ' + user.surname}"></div>
                        <div th:text="${user.indeks}"></div>
                    </li>
                    <li>
                        <a th:if="${user.role == 'ADMIN'}" href="/tests/create">Stwórz test</a>
                    </li>
                    <li>
                        <a th:if="${user.role == 'ADMIN'}" href="/tests/manage">Zarządzaj testami</a>
                    </li>
                    <li>
                        <a th:if="${user.role == 'ADMIN'}" href="/groups/manage">Zarządzaj grupami</a>
                    </li>
                    <li>
                        <a style="cursor: pointer" onclick="logout()">Wyloguj</a>
                    </li>
                </ul>
                <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</nav>

<style>
    .navbar-nav li a {
        color: chartreuse;
    }
</style>