<!--<nav class="navbar navbar-expand-lg navbar-dark bg-primary" th:fragment="nav">-->
<!--    <a class="navbar-brand" href="#">Java Pro Tests</a>-->
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarNavDropdown">-->
<!--        <ul class="navbar-nav me-auto">-->
<!--            &lt;!&ndash; Tutaj miejsce na dodatkowe opcje w menu &ndash;&gt;-->
<!--        </ul>-->
<!--        <ul class="navbar-nav">-->
<!--            <li class="nav-item dropdown">-->
<!--                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                    Menu-->
<!--                </a>-->
<!--                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">-->
<!--                    <div class="dropdown-item d-flex justify-content-between">-->
<!--                        <a class="dropdown-item" href="#" th:text="${user.role}"></a>-->
<!--                        <a class="dropdown-item fw-bold" href="#" th:style="'color: ' + (${user.role == 'ADMIN'} ? 'orange' : 'green')" th:text="${user.role}"></a>-->
<!--                    </div>-->
<!--                    <hr class="dropdown-divider">-->
<!--                    <a class="dropdown-item" href="/profile">Profil</a>-->
<!--                    <a th:if="${user.role == 'ADMIN'}" class="dropdown-item" href="/tests/create">Stwórz test</a>-->
<!--                    <a th:if="${user.role == 'ADMIN'}" class="dropdown-item" href="/tests/manage">Zarządzaj testami</a>-->
<!--                    <a th:if="${user.role == 'ADMIN'}" class="dropdown-item" href="/tests">Twoje testy</a>-->
<!--                    <a class="dropdown-item" onclick="logout()">Wyloguj</a>-->
<!--                </div>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</nav>-->

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Java Pro - tests</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Nawigacja</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="d-flex justify-content-between">
                        <div th:text="${user.name + ' ' + user.surname}"></div>
                        <div th:text="${user.indeks}"></div>
                    </li>
                    <li>
                        <a href="/profile">Twój Profil</a>
                    </li>
                    <li>
                        <a th:if="${user.role == 'ADMIN'}" href="/tests/create">Stwórz test</a>
                    </li>
                    <li>
                        <a th:if="${user.role == 'ADMIN'}" href="/tests/manage">Zarządzaj testami</a>
                    </li>
                    <li>
                        <a th:if="${user.role == 'ADMIN'}" href="/tests">Twoje testy</a>
                    </li>
                    <li>
                        <a style="cursor: pointer" onclick="logout()">Wyloguj</a>
                    </li>
                </ul>
                <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</nav>

<style>
    .navbar-nav li a {
        color: chartreuse;
    }
</style>