<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<div th:replace="fragments/navbar :: nav(user=${user})"></div>

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2>Tworzenie Nowego Testu</h2>
        </div>
        <div class="card-body">
            <form th:action="@{/api/tests/create}" id="create-test-form" method="post">
                <div class="form-group">
                    <label for="name">Nazwa Testu</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Wprowadź nazwę testu" required>
                </div>
                <div class="form-group">
                    <label for="alias">Alias Testu</label>
                    <input type="text" class="form-control" id="alias" name="alias" placeholder="Wprowadź alias testu" required>
                </div>
                <button class="btn btn-primary" type="submit">Utwórz Test</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>