<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<div th:replace="fragments/navbar :: nav(user=${user})"></div>

<div class="container mt-5">

    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <h2 th:text="${'Edycja testu Nr' + test.getId()}"></h2>
                <button class="btn btn-success mt-2" type="button" onclick="changeTestDetails()">
                    Zapisz zmiany
                </button>
            </div>
        </div>
        <div class="card-body">
            <h4 class="text-success" th:text="${message}"></h4>
            <div id="test-details-form">
                <!-- JS -->
            </div>
        </div>
    </div>

    <!-- Lista pytań -->
    <div class="card mt-4">
        <div class="card-header">
            <h4>Lista pytań</h4>
        </div>
        <div class="card-body">
            <div class="accordion" id="questionsAccordion">
                <!-- JS -->
            </div>
            <button class="d-block bg-primary text-bold text-white btn btn-primary mt-2 w-100" type="button" onclick="addNewQuestion()">
                Dodaj nowe pytanie
            </button>
        </div>
    </div>
</div>
<script th:inline="javascript">

    var testData = [[${test}]];
    let answerMaxId = [[${answerMaxId}]];
    let questionMaxId = [[${questionMaxId}]];

    function initializePage() {
        console.log(testData);

        generateTestDetailsForm();

        for (var i = 0; i < testData.questions.length; i++) {
            var question = testData.questions[i];
            addQuestion(question, i);
        }
    }

    function generateTestDetailsForm() {
        var formContainer = document.getElementById('test-details-form');

        var nameField = `
        <div class="form-group">
            <label for="name">Nazwa Testu</label>
            <input type="text" class="form-control" id="name" name="name" value="${testData.name}" placeholder="Wprowadź nazwę testu" required>
        </div>
    `;
        var aliasField = `
        <div class="form-group">
            <label for="alias">Alias Testu</label>
            <input type="text" class="form-control" id="alias" name="alias" value="${testData.alias}" placeholder="Wprowadź alias testu" required>
        </div>
    `;

        formContainer.innerHTML = nameField + aliasField;

        document.getElementById('name').addEventListener('change', function(event) {
            testData.name = event.target.value;
            console.log(testData);
        });

        document.getElementById('alias').addEventListener('change', function(event) {
            testData.alias = event.target.value;
            console.log(testData);
        });
    }

    function addQuestion(question, index) {
        var accordion = document.getElementById('questionsAccordion');

        // Create new question HTML
        var newQuestionHTML = `
        <div class="accordion-item" id="accordion${question.id}">
            <h2 class="accordion-header" id="heading${index}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse${index}" aria-expanded="false" aria-controls="collapse${index}">
                    <span id="accordionTitle${index}">${question.content}</span>
                </button>
            </h2>
            <div id="collapse${index}" class="accordion-collapse collapse" aria-labelledby="heading${index}" data-bs-parent="#questionsAccordion">
                <div class="accordion-body">
                    <!-- Formularz dodawania odpowiedzi -->
                    <div class="form-group">
                        <label for="question${index}">Pytanie</label>
                        <input type="text" value="${question.content}" class="form-control" id="question${index}" name="question" required>
                    </div>
                    <div class="form-group">
                        <label for="points${index}">Liczba punktów</label>
                        <input type="number" value="${question.pointAmount}" class="form-control" id="points${index}" name="points" min="0" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="image${index}">Załącz zdjęcie</label>
                        <input type="file" class="form-control-file" id="image${index}" name="image">
                    </div>
                    <div class="form-group mt-2">
                        <label>Odpowiedzi</label>
                        <table class="table table-striped table-dark">
                            <thead>
                                <tr>
                                    <th class="text-center">Odpowiedź</th>
                                    <th class="text-center">Poprawność</th>
                                    <th class="text-center">Akcja</th>
                                </tr>
                            </thead>
                            <tbody id="answersTable${question.id}" data-question-index="${question.id}">
                                <!-- Placeholder row for no answers -->
                                <tr id="noAnswersRow${question.id}" class="d-none">
                                    <td class="text-center" colspan="3">Brak dodanych do tej pory odpowiedzi</td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-primary mt-2" type="button" onclick="createAnswerRowWithoutId(${question.id})">Dodaj odpowiedź</button>
                        <button class="btn btn-success mt-2" type="button" onclick="changeTestDetails()"> Zapisz zmiany </button>
                        <button class="btn btn-danger mt-2" type="button" onclick="deleteQuestion(${question.id})">Usuń</button>
                    </div>
                </div>
            </div>
        </div>
    `;

        // Append new question to accordion
        accordion.insertAdjacentHTML('beforeend', newQuestionHTML);

        document.getElementById(`question${index}`).addEventListener('change', function(event) {
            question.content = event.target.value;
            document.getElementById(`accordionTitle${index}`).textContent = event.target.value;
            console.log(testData);
        });

        document.getElementById(`points${index}`).addEventListener('change', function(event) {
            question.pointAmount = Number(event.target.value);
            console.log(testData);
        });

        var answers = question.answers;
        for (var i = 0; i < answers.length; i++) {
            createAnswerRow(answers[i], question.id);
        }
    }

    function addNewQuestion() {

        questionMaxId += 1;

        var newQuestion = {
            id: questionMaxId,
            content: "Nowe pytanie",
            pointAmount: 0,
            answers: []
        };

        testData.questions.push(newQuestion);
        addQuestion(newQuestion, testData.questions.length - 1);
    }


    function removeRow(row) {
        var tbody = row.parentNode;
        tbody.removeChild(row);

        // Sprawdź, czy wyświetlić wiersz "Brak odpowiedzi"
        var noAnswersRow = document.getElementById(`noAnswersRow${tbody.getAttribute('data-question-index')}`);

        checkAnswers(tbody, noAnswersRow);
    }

    function createAnswerRow(answer, questionIndex) {
        var tbody = document.getElementById('answersTable' + questionIndex);
        var noAnswersRow = document.getElementById('noAnswersRow' + questionIndex);

        // Tworzenie nowego wiersza odpowiedzi
        var newRow = document.createElement('tr');
        newRow.setAttribute('data-answer-index', answer.id);

        // Komórka z odpowiedzią
        var answerCell = document.createElement('td');
        var answerInput = document.createElement('input');
        answerInput.setAttribute('type', 'text');
        answerInput.setAttribute('value', answer.answer);
        answerInput.classList.add('form-control');
        answerInput.addEventListener('change', function(event) {
            const qId = testData.questions.findIndex(el => el.id === questionIndex);
            const ans = testData.questions[qId].answers.find(el => el.id === answer.id);
            ans.answer = event.target.value;

            console.log(testData);
        });
        answerCell.appendChild(answerInput);
        newRow.appendChild(answerCell);

        // Komórka z checkboxem
        var correctnessCell = document.createElement('td');
        correctnessCell.classList.add('text-center');
        var checkbox = document.createElement('input');
        checkbox.setAttribute('type', 'checkbox');
        checkbox.classList.add('form-check-input');
        checkbox.checked = answer.isCorrect;
        checkbox.addEventListener('change', function(event) {
            const qId = testData.questions.findIndex(el => el.id === questionIndex);
            const ans = testData.questions[qId].answers.find(el => el.id === answer.id);
            ans.isCorrect = event.target.checked;

            console.log(testData);
        });
        correctnessCell.appendChild(checkbox);
        newRow.appendChild(correctnessCell);

        // Komórka z przyciskiem Usuń
        var deleteCell = document.createElement('td');
        deleteCell.classList.add('text-center');
        var deleteButton = document.createElement('button');
        deleteButton.setAttribute('type', 'button');
        deleteButton.classList.add('btn', 'btn-danger');
        deleteButton.textContent = 'Usuń';
        deleteButton.addEventListener('click', function() {
            removeRow(newRow);
            const qId = testData.questions.findIndex(el => el.id === questionIndex);
            const aId = testData.questions[qId].answers.findIndex(el => el.id === answer.id);
            testData.questions[qId].answers.splice(aId, 1);

            console.log(testData);
        });
        deleteCell.appendChild(deleteButton);
        newRow.appendChild(deleteCell);

        // Dodanie nowego wiersza do tabeli odpowiedzi
        tbody.appendChild(newRow);

        // Sprawdzenie, czy wyświetlić wiersz "Brak odpowiedzi"
        checkAnswers(tbody, noAnswersRow);
    }

    function createAnswerRowWithoutId(questionIndex) {
        const answer = 'brak odpowiedzi';
        const isCorrect = true;

        answerMaxId += 1;

        testData.questions.find(el => el.id === questionIndex).answers.push({
            id: answerMaxId,
            answer,
            isCorrect,
            isNew: true,
        })


        console.log(testData);
        var tbody = document.getElementById('answersTable' + questionIndex);
        var noAnswersRow = document.getElementById('noAnswersRow' + questionIndex);

        // Tworzenie nowego wiersza odpowiedzi
        var newRow = document.createElement('tr');
        newRow.setAttribute('data-answer-index', answerMaxId);

        // Komórka z odpowiedzią
        var answerCell = document.createElement('td');
        var answerInput = document.createElement('input');
        answerInput.setAttribute('type', 'text');
        answerInput.setAttribute('value', answer);
        answerInput.classList.add('form-control');
        answerInput.addEventListener('change', function(event) {
            const qId = testData.questions.findIndex(el => el.id === questionIndex);
            const ans = testData.questions[qId].answers.find(el => el.id === answerMaxId);
            ans.answer = event.target.value;

            console.log(testData);
        });
        answerCell.appendChild(answerInput);
        newRow.appendChild(answerCell);


        // Komórka z checkboxem
        var correctnessCell = document.createElement('td');
        correctnessCell.classList.add('text-center');
        var checkbox = document.createElement('input');
        checkbox.setAttribute('type', 'checkbox');
        checkbox.classList.add('form-check-input');
        checkbox.checked = isCorrect;
        correctnessCell.appendChild(checkbox);
        newRow.appendChild(correctnessCell);

        // Komórka z przyciskiem Usuń
        var deleteCell = document.createElement('td');
        deleteCell.classList.add('text-center');
        var deleteButton = document.createElement('button');
        deleteButton.setAttribute('type', 'button');
        deleteButton.classList.add('btn', 'btn-danger');
        deleteButton.textContent = 'Usuń';
        deleteButton.addEventListener('click', function() {
            removeRow(newRow);
            const qId = testData.questions.findIndex(el => el.id === questionIndex);
            const aId = testData.questions[qId].answers.findIndex(el => el.id === answerMaxId);
            testData.questions[qId].answers.splice(aId, 1);

            console.log(testData);
        });
        deleteCell.appendChild(deleteButton);
        newRow.appendChild(deleteCell);

        // Dodanie nowego wiersza do tabeli odpowiedzi
        tbody.appendChild(newRow);

        // Sprawdzenie, czy wyświetlić wiersz "Brak odpowiedzi"
        checkAnswers(tbody, noAnswersRow);
    }

    function checkAnswers(tbody, noAnswersRow) {
        console.log(noAnswersRow);
        // Sprawdź, czy tbody jest prawidłowy
        if (!tbody) {
            console.error('Nie można znaleźć tabeli odpowiedzi');
            return;
        }

        var rows = tbody.querySelectorAll('tr');

        // Sprawdź, czy wyświetlić wiersz "Brak dodanych odpowiedzi"
        if (rows.length === 1) {
            noAnswersRow.classList.remove('d-none');
        } else {
            noAnswersRow.classList.add('d-none');
        }
    }

    function changeTestDetails() {
        console.log(testData);

        axios.patch(`/api/tests/${testData.id}`, {
            test: JSON.stringify(testData),
            image: ''
        }, {
            headers: {
                'Content-type': 'multipart/form-data'
            }
        })
            .then(res => {
                document.querySelector("html").innerHTML = res.data;
                initializePage();
            })
            .catch(err => {
                console.error(err);
            })
    }

    function deleteQuestion(questionId) {
        const qId = testData.questions.findIndex(el => el.id === questionId);

        const questionToDelete = document.getElementById(`accordion${questionId}`);
        if (questionToDelete) {
            questionToDelete.parentNode.removeChild(questionToDelete);
            testData.questions.splice(qId, 1);
            changeTestDetails();
        }
    }

    document.addEventListener('DOMContentLoaded', initializePage);

</script>
</body>
</html>