<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<div th:replace="fragments/navbar :: nav(user=${user})"></div>

    <div class="container mt-5">
        <h1 class="mb-4">Group List</h1>
        <div class="accordion" id="groupsAccordion">
            <div th:each="group, groupStat : ${groups}" class="accordion-item">
                <h2 class="accordion-header" th:id="'headingGroup' + ${groupStat.index}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            th:attr="data-bs-target='#collapseGroup' + ${groupStat.index}, aria-controls='collapseGroup' + ${groupStat.index}">
                        <span th:text="${group.getName()}">Group Name</span>
                    </button>
                </h2>
                <div th:id="'collapseGroup' + ${groupStat.index}" class="accordion-collapse collapse show"
                     th:attr="aria-labelledby='headingGroup' + ${groupStat.index}, data-bs-parent='#groupsAccordion'">
                    <div class="accordion-body">
                        <p>Type: <span th:text="${group.getType()}">Group Type</span></p>
                        <p>Year: <span th:text="${group.getYear()}">Group Year</span></p>
                        <p>Season: <span th:text="${group.getSeason()}">Group Season</span></p>
                        <div class="accordion" th:id="'usersAccordion' + ${groupStat.index}">
                            <div th:text="${group.getUsers()}"></div>
                            <div th:each="groupUser, userStat : ${group.getUsers()}" class="accordion-item">
                                <h2 class="accordion-header" th:id="'headingUser' + ${groupStat.index} + '-' + ${userStat.index}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            th:attr="data-bs-target='#collapseUser' + ${groupStat.index} + '-' + ${userStat.index}, aria-controls='collapseUser' + ${groupStat.index} + '-' + ${userStat.index}">
                                        <span th:text="${groupUser.getUser().getIndeks()}">User Name</span>
                                    </button>
                                </h2>
                                <div th:id="'collapseUser' + ${groupStat.index} + '-' + ${userStat.index}" class="accordion-collapse collapse"
                                     th:attr="aria-labelledby='headingUser' + ${groupStat.index} + '-' + ${userStat.index}, data-bs-parent='#usersAccordion' + ${groupStat.index}">
                                    <div class="accordion-body">
                                        <ul>
                                            <li th:each="test : ${groupUser.getUser().getTests()}" th:text="${test}">Test Name</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script th:inline="javascript">

</script>

</body>
</html>