<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/navbar :: nav(user=${user})"></div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 col-lg-6 mb-2">

            <!-- Segment "Twoje wyniki" -->
            <div class="card mb-2" style="max-height: 500px; overflow: auto">
                <div class="card-body">
                    <h5 class="card-title">Twoje wyniki</h5>
                    <p class="card-text">Tutaj możesz umieścić informacje o twoich wynikach.</p>
                    <div th:each="userTest : ${user.getTests()}">
                        <div th:if="${userTest.getBeginDate() != null && userTest.getBeginDate().isBefore(#temporals.createNow())}" class="d-flex flex-column justify-content-around border border-black-50 rounded p-2">
                            <p class="card-text" th:text="${userTest.getTest().getName()}"></p>
                            <p class="card-text" th:text="${#temporals.format(userTest.getBeginDate(), 'dd MMMM yyyy')}"></p>
                            <p class="card-text" th:text="${'Ilosc punktow: ' + '0' +' / '+ userTest.getTest().getQuestions().size()}"></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Segment "Twoje dane" -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Twoje dane</h5>
                    <p class="card-text" th:text="'Imie = ' + ${user.name}"></p>
                    <p class="card-text" th:text="'Nazwisko = ' + ${user.surname}"></p>
                    <p class="card-text text-success fw-bold" th:text="'Indeks = ' + ${user.indeks}"></p>
                    <div th:each="group : ${user.getGroups()}">
                        <p class="card-text" th:text="${group.getGroup().getName()}"></p>
                        <p class="card-text" th:text="${group.getGroup().getType()}"></p>
                        <p class="card-text" th:text="${group.getGroup().getSeason()}"></p>
                    </div>
                </div>
            </div>
        </div>


        <!-- Segment "Nadchodzące terminy testów" -->
        <div class="col-md-8 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nadchodzące terminy testów</h5>
                    <div th:each="group : ${user.getGroups()}">
                        <div th:if="${group != null and group.getGroup().getTests() != null}">
                            <div th:each="loopTest : ${group.getGroup().getTests()}" th:if="${loopTest.getEndDate().isAfter(#temporals.createNow())}" class="d-flex justify-content-around border border-black-50 rounded p-2">
                                <div>
                                    <div th:text="${loopTest.getTest().getName()}" class="fw-bold"></div>
                                    <div class="fw-bold fs-7">
                                        <span th:text="${group.getGroup().getName()}"></span>
                                        <span th:text="${group.getGroup().getType()}" class="text-success"></span>
                                    </div>
                                    <div th:text="${loopTest.getBeginDate() + ' - ' + loopTest.getEndDate()}"></div>
                                </div>
                                <div>
                                    <a th:href="${'/group/' + group.getGroup().getId() + '/test/' + loopTest.getTest().getId()}">
                                        Zacznij
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="js/logout :: script"></script>
</body>
</html>