<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/head :: head"></head>

    <body>
        <div th:replace="fragments/navbar :: nav(user=${user})"></div>

        <div class="container mt-5">
            <div class="card">
                <div class="card-header">
                    <h2 th:text="${groupTest.getTest().getName()}">Test Name</h2>
                    <p th:text="${#temporals.format(groupTest.getBeginDate(), 'dd MMMM yyyy')}"></p>
                    <p th:text="${#temporals.format(groupTest.getBeginDate(), 'HH:mm') + ' - ' + #temporals.format(groupTest.getEndDate(), 'HH:mm')}">Start Date</p>
                </div>
                <div class="card-body">
                    <h2 class="bg-warning text-white fw-bold p-2" th:if="${error}" th:text="${error}"> Error</h2>
                    <div class="card" th:if="${ groupTest.getEndDate().isBefore(#temporals.createNow()) }">
                        <div class="card-header">
                            <h4 th:text="${'Wynik: ' + userTest.getTestPointsAmount() + '/' + userTest.getAllTestPointsAmount() + '  (' + correctAnswerPercentage + '%) = ' + mark}">Wynik</h4>
                            <h5 th:if="${alreadyAnsweredQuestions.size() > 0}"> Twoje odpowiedzi </h5>
                        </div>
                        <div class="card-body">
                            <div th:each="userAnswer : ${userTest.getAnswerSummaries()}" class="mb-3">
                                <div th:text="${userAnswer.getQuestion().getContent() + '   ' + ((userAnswer.getIsCorrect() != null && userAnswer.getIsCorrect()) ? userAnswer.getQuestion().getPointAmount() : '0') + '/' + userAnswer.getQuestion().getPointAmount() }" th:class="${(userAnswer.getIsCorrect() != null && userAnswer.getIsCorrect()) ? 'text-success' : 'text-danger'}"></div>
                                <img
                                        th:if="${userAnswer.getQuestion().getImage() != null && !userAnswer.getQuestion().getImage().isEmpty()}"
                                        th:src="'/' + ${userAnswer.getQuestion().getImage()}"
                                        style="max-width: 100%; max-height: 350px; cursor:pointer"
                                        data-bs-toggle="modal"
                                        data-bs-target="#imageModal"
                                        onclick="updateModalImage(this.src)"
                                >
                                <div th:each="questionAnswer : ${userAnswer.getQuestion().getAnswers()}">
                                    <input type="checkbox" id="check" class="form-check-input" disabled th:checked="${userAnswer.getAllAnswerIds().contains(questionAnswer.getId())}"
                                           th:class="${userAnswer.getAllAnswerIds().contains(questionAnswer.getId()) ? (questionAnswer.getIsCorrect() ? 'checkbox-correct' : 'checkbox-incorrect') : ''}">
                                    <label class="form-check-label" for="check" th:text="${questionAnswer.getAnswer()}"></label>
                                </div>
                            </div>
                            <div th:if="${alreadyAnsweredQuestions.size() == 0}">
                                <h3>Nie udzieliłeś żadnej odpowiedzi!</h3>
                            </div>
                        </div>
                    </div>

                    <h4 th:if="${alreadyAnsweredQuestions.size() == groupTest.getTest().getQuestions().size() && !groupTest.getEndDate().isBefore(#temporals.createNow())}" class="bg-secondary text-white fw-bold p-2" >
                        Udzieliłeś wszystkich odpowiedzi, jednak test jeszcze trwa. Zaczekaj na jego koniec.
                    </h4>


                    <div th:if="${error == null && lastQuestion == null && alreadyAnsweredQuestions.size() != groupTest.getTest().getQuestions().size()}">
                        <p>
                            <span>
                                Czy chcesz rozpocząć test&nbsp;
                            </span>
                            <span th:text="${groupTest.getTest().getName()}"></span>
                        </p>
                        <button type="button" class="btn btn-primary" th:onclick="'startTest(\'/group/' + ${groupId} + '/test/' + ${testId} + '\')'">Start Test</button>
                    </div>
                    <form th:if="${error == null && lastQuestion != null}" id="answerForm" th:action="${'/group/' + groupId + '/test/' + testId + '/answer/' + lastQuestion.getId()}" method="patch">
                        <h4>Questions</h4>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div th:text="${lastQuestion.getQuestion().getContent()}"></div>
                                <img
                                        th:if="${lastQuestion.getQuestion().image != null && !lastQuestion.getQuestion().image.isEmpty()}"
                                        th:src="${lastQuestion.getQuestion().image.startsWith('data:image') ? lastQuestion.getQuestion().image : '/' + lastQuestion.getQuestion().image}"
                                        alt="Brak zdjęcia"
                                        style="max-width: 100%; max-height: 350px; cursor:pointer"
                                        data-bs-toggle="modal"
                                        data-bs-target="#imageModal"
                                        onclick="updateModalImage(this.src)"
                                >
                                <div class="form-check" th:each="answer : ${lastQuestion.getQuestion().getAnswers()}">
                                    <input
                                        class="form-check-input"
                                        required
                                        type="checkbox"
                                        th:id="'answer_' + ${answer.getId()}"
                                        th:name="'question_' + ${lastQuestion.getId()}"
                                        th:value="${answer.getId()}"
                                    >
                                    <label class="form-check-label" th:for="'answer_' + ${answer.getId()}" th:text="${answer.getAnswer()}"></label>
                                </div>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-primary" onclick="submitForm(event)">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <div th:replace="fragments/imageModal"></div>
        <script th:inline="javascript">

            const startTest = (request) => {
                axios.post(request)
                    .then(res => {
                        console.log(res);
                        window.location.reload();
                    })
                    .catch(err => console.error(err))
            }

            function submitForm(event) {
                event.preventDefault();

                var form = document.getElementById('answerForm');
                var formData = new FormData(form);

                const valuesArray = [];

                formData.forEach((value, key) => {
                    valuesArray.push(value);
                });

                if (valuesArray.length <= 0) {
                    alert("Musisz zaznaczyć odpowiedź.");
                    return;
                }

                axios.patch(form.action, valuesArray)
                    .then(res => {
                        console.log(res);
                        alert(1);
                        window.location.reload();
                    })
                    .then(err => {
                        console.error(err);
                    })
            }
        </script>

        <script th:replace="js/logout :: script"></script>

        <style>
            .checkbox-incorrect {
                filter: drop-shadow(0px 0px 2px red)
            }

            .checkbox-correct {
                filter: drop-shadow(0px 0px 2px forestgreen)
            }
        </style>
    </body>
</html>